.slogan {
    display: flex; 
    align-items: center;
}

.slogan h1 {
    color: #F00;
    text-align: right;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25rem;
}

.slogan nav {
    display: flex;
    align-items: center;
    flex: 1;
}

.slogan img {
    max-width: 100%;
}

.barra-vermelha {
    background-color: #FE0028;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center; /* Centralizar verticalmente os itens */
}

.barra-vermelha nav {
    display: flex;
    align-items: center;
}

.barra-vermelha img {
    max-width: 100%; 
    border-radius: 10px;
    margin-left: 0;
}

.barra-vermelha p {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    letter-spacing: 5px;
    margin-left: 27rem;
}

.rectitle {
    margin: 5rem;
    text-align: center;
    color: #F00;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.recomendação {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.caixa-recomendacao {
    border-radius: 6px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 223.34px;
    height: 291.12px;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px;
}

.caixa-recomendacao img {
    max-width: 100%;
    border-radius: 10px;
}

.caixa-recomendacao p {
    color: #000;
    font-size: 1rem;
    margin-top: 10px;
    text-align: justify;
}

.caixa-recomendacao h1 {
    color: #F00;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



@media (max-width: 767px) {

    .slogan {
        display: flex;
        flex-direction: column;
    }

    .slogan h1 {
        margin: 0;
        text-align: center;
        font-size: 1.75rem;
        
    }

    .slogan img{
        order: 2;
        max-width: 80%;
        padding: 0;
        margin: 0;
    }

    .barra-vermelha p {
        font-size: 20px;
        margin-left: 0;
        text-align: left;
    }

    .rectitle {
        margin: 2rem;
    }

    .recomendacao {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .slogan h1 {
        margin-left: 10%;
    }

    .barra-vermelha p {
        margin-left: 10%;
    }
}

@media (min-width: 1200px) {
    .slogan h1 {
        margin-left: 25rem;
    }

    .barra-vermelha p {
        margin-left: 27rem;
    }
}